.arrow {
  width: 2vw;
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}
.arrow path {
  fill: #b6e2fe;
  stroke-width: 0.6;
  stroke: rgb(69, 126, 233);
  transition: fill 0.5s ease-out;
  cursor: default;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
